@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap");

.cardList {
  color: var(--color3);
  width: 90%;
  max-width: 600px;
  img {
    max-height: 50%;
    max-width: 100%;
    display: block;
  }
  p {
    word-wrap: break-word;
  }
  a {
    max-width: 90%;
    word-wrap: break-word;
  }
}

.card {
  background-color: var(--color5);
  box-shadow:
    0 0 0 1px rgba(#000, 0.05),
    0 20px 50px 0 rgba(#000, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;

  &:hover,
  &:focus-within {
    box-shadow: 0 10px 60px 0 rgba(#000, 0.1);
    transform: translatey(-5px);
  }
}

.cardImage {
  border-radius: 10px;
  overflow: hidden;
  max-height: 300px;
}

.cardHeader {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.25;
    padding-right: 1rem;
    text-decoration: none;
    color: inherit;
    will-change: transform;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.cardFooter {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cardMeta {
  display: flex;
  align-items: center;
  color: #787878;
  &:first-child:after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentcolor;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  svg {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
  }
}
