.CreatePostPage {
  margin: auto;
  margin-bottom: 30px;
  background-color: var(--color5);
  width: 60%;
  padding: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  @media screen and (max-width: 650px) {
    width: 90%;
    padding: 20px;
  }
}
